<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Classes</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="lessons.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="BookingSystem.webmanifest">


</head>

<body>

    <div id="app">
        <div class="controls">
            <label>Sort By:</label>
            <select v-model="sortAttribute">
                <option value="subject">Subject</option>
                <option value="location">Location</option>
                <option value="price">Price</option>
                <option value="spaces">Spaces</option>
            </select>
            <label>Sort Order:</label>
            <select v-model="sortOrder">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>

            <label>Search:</label>
            <input v-model="searchQuery" @input="performSearch" type="text" placeholder="Search lessons" class="SearchField">

            <button @click="isCartVisible = !isCartVisible" :disabled="isCartEmpty" class="ShowCart">
                <img src="images/cart-shopping-solid.svg" alt="Download Icon"> ({{ cartItemCount }})Show Cart
            </button>
            
        </div>
        
        <div class="lesson-cards">
            <div v-for="lesson in sortedLessons" :key="lesson.id" class="lesson-card" v-if="!isCartVisible">
                <h2>{{ lesson.subject }}</h2>
                <img :src="lesson.img" alt="Lesson Image" class="Logos">
                <p><strong>Location:</strong> {{ lesson.location }}</p>
                <p><strong>Price:</strong> £{{ lesson.price }}</p>
                <p><strong>Spaces available:</strong> {{ lesson.spaces }}</p>
                <button v-if="lesson.spaces > 0" @click="addToCart(lesson.id)" class="addToCartButton">Add to Cart</button>
                <button v-else disabled class="SoldOut">Sold Out</button>
                
            </div>
        </div>

        <div v-if="isCartVisible">
            <h2>Shopping Cart</h2>
            <button @click="isCartVisible = false" class="GoBackButton">← Back to Lessons</button>
            <div v-for="cartItem in cart" :key="cartItem.id" class="cart-item">
                <div class="cart-item-content">
                    <p>{{ cartItem.subject }} - £{{ cartItem.price }} ({{ cartItem.quantity }})</p>
                    <button @click="removeFromCart(cartItem.id)" class="RemoveFromCart">Remove</button>
                </div>
            </div>
        </div>
        
        
    
        <div v-if="isCartVisible && cart.length > 0">
            
            <h2>Checkout</h2>
            <label>Name:</label>
        <input v-model="customerName" @input="validateName" type="text" placeholder="Enter your name"><br>
        <label>Phone Number:</label>
        <input v-model="phoneNumber" @input="validatePhone" type="tel" placeholder="Enter your phone number"><br>
        <button @click="checkout" :disabled="!isNameValid || !isPhoneValid" class="Checkout">Checkout</button>
            
        </div>
        
    </div>
    <!-- ji -->
    
    <script type="module">
        // import lessons from './lessons.js';
        new Vue({
            el: '#app',
            data: {
                lessons: [],
                sortAttribute: 'subject',
                sortOrder: 'asc',
                cart: [],
                isCartVisible: false,
                customerName: '',
                phoneNumber: '',
                isNameValid: false,
                isPhoneValid: false,
                searchQuery: ''
            },
            methods: {
                addToCart(lessonId) {
                    const lesson = this.lessons.find(l => l.id === lessonId);
                    const cartItem = this.cart.find(item => item.id === lessonId);
                    if (lesson.spaces > 0) {
                        if (cartItem) {
                            cartItem.quantity++;
                            lesson.spaces--;
                        } else {
                            lesson.spaces--;
                            this.cart.push({ ...lesson, quantity: 1 });
                        }
                        
                    }
                },


                removeFromCart(lessonId) {
                    const cartItem = this.cart.find(item => item.id === lessonId);
                    if (cartItem) {
                        if (cartItem.quantity > 1) {
                            
                            cartItem.quantity--;
                        } else {
                            
                            const lessonIndex = this.cart.findIndex(lesson => lesson.id === lessonId);
                            if (lessonIndex !== -1) {
                                this.cart.splice(lessonIndex, 1);
                            }
                        }
                        const originalLesson = this.lessons.find(lesson => lesson.id === lessonId);
                        if (originalLesson) {
                            originalLesson.spaces++;
                        }
                    }
                },

                validateName() {
                    this.isNameValid = /^[A-Za-z]+$/.test(this.customerName);
                },

                validatePhone() {
                    this.isPhoneValid = /^[0-9]+$/.test(this.phoneNumber);
                },
                // 
                checkout() {
                    // Prepare order details
                    const order = {
                        customerName: this.customerName,
                        phoneNumber: this.phoneNumber,
                        lessons: this.cart.map(item => ({
                            lessonId: item.id,
                            price: item.price,
                            spaces: item.quantity
                        })),
                        total: this.cart.reduce((total, item) => total + item.price * item.quantity, 0)
                    };

                    // Make a POST request to save the order
                    fetch('http://bookingsystemfinal-env.eba-wwtpjrbh.eu-west-2.elasticbeanstalk.com/collections/orders', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(order),
                    })
                    .then(response => response.json())
                    .then(data => {
                        // After successful order submission, update lesson spaces
                        const updateSpacesPromises = this.cart.map(item => {
                            return fetch(`http://localhost:3000/collections/lessons/${item.id}`, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ spaces: item.spaces - item.quantity })
                            });
                        });

                        return Promise.all(updateSpacesPromises);
                    })
                    .then(() => {
                        alert('Order placed! Thank you for your purchase.');
                        // Reset cart and form fields
                        this.cart = [];
                        this.customerName = '';
                        this.phoneNumber = '';
                        this.isNameValid = false;
                        this.isPhoneValid = false;
                    })
                    .catch(error => {
                        console.error('Error placing order:', error);
                    });
                },
                
                // performSearch() {
                //     const query = this.searchQuery;
                //     fetch(`http://localhost:3000/search?q=${encodeURIComponent(query)}`)
                //         .then(response => response.json())
                //         .then(data => {
                //             this.lessons = data; // Update lessons with search results
                //         })
                //         .catch(error => {
                //             console.error('Error fetching search results:', error);
                //         });
                // },
                performSearch() {
                    this.sortAttribute = '';
                    this.sortOrder = '';
                    const query = this.searchQuery.toLowerCase();
                    this.lessons = lessons.filter(
                        lesson =>
                            lesson.subject.toLowerCase().includes(query),
                            lesson.location.toLowerCase().includes(query)
                    );
                }
            },
            
            computed:{

                sortedLessons() {
                    if (this.searchQuery) {
                        return this.lessons;
                    }

                    return this.lessons.slice().sort((a, b) => {
                        const modifier = this.sortOrder === 'desc' ? -1 : 1;
                        return modifier * (a[this.sortAttribute] > b[this.sortAttribute] ? 1 : -1);
                    });
                },
                lessonsWithSpaces() {
                    return this.lessons.filter(lesson => lesson.spaces > 0);
                },
                isCartEmpty() {
                    return this.cart.length === 0;
                },
                cartItemCount() {
                    return this.cart.reduce((total, item) => total + item.quantity, 0);
                }
            },
            created: function() {
                fetch("http://bookingsystemfinal-env.eba-wwtpjrbh.eu-west-2.elasticbeanstalk.com/collections/lessons")
                    .then(response => response.json())
                    .then(data => {
                        this.lessons = data;
                    })
                    .catch(error => {
                        console.error('Error fetching lessons:', error);
                    });
            },
            function() {
                if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("service-worker.js");
                }
            }
        });
    </script>

</body>

</html>
